{% extends 'base.html' %} {% block judul %} Segera Temui Dokter Pilihan Anda {% endblock judul %} {% block content %}

<div class="container">
    <div class="column">
        <h1 class="kami-senang">Anda ingin bertemu langsung dengan dokter?</h1>
        <h1 class="beri-kami-saran">Isi form dan dokter akan segera menghubungi anda </h1>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}

            <form>
                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pesen_form.nama_pemesan.label}}</label>
                    <div class="col-sm-10">
                        {{pesen_form.nama_pemesan}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pesen_form.no_hp.label}}</label>
                    <div class="col-sm-10">
                        {{pesen_form.no_hp}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pesen_form.alamat.label}} </label>
                    <div class="col-sm-10">
                        {{pesen_form.alamat}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pesen_form.pilihan_waktu.label}} </label>
                    <div class="col-sm-10">
                        {{pesen_form.pilihan_waktu}}
                    </div>
                </div>

                <div class="create-alamat-button">
                    <button type="Submit" class="btn btn-success">pesan</button>
                </div>

            </form>
        </form>
    </div>
</div>


{% endblock content %}