{% extends 'base.html' %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<div class="container">
    <div class="column">
        <h1 class="kami-senang">Kami senang mendengar pendapat dan keluhan anda</h1>
        <h1 class="beri-kami-saran">Beri saran kepada kami </h1>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}

            <form>
                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{feedback_form.nama_pengirim.label}}</label>
                    <div class="col-sm-10">
                        {{feedback_form.nama_pengirim}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{feedback_form.jenis_kelamin.label}}</label>
                    <div class="col-sm-10">
                        {{feedback_form.jenis_kelamin}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{feedback_form.komentar.label}} </label>
                    <div class="col-sm-10">
                        {{feedback_form.komentar}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{feedback_form.tanggal.label}} </label>
                    <div class="col-sm-10">
                        {{feedback_form.tanggal}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{feedback_form.rating.label}} </label>
                    <div class="col-sm-10">
                        {{feedback_form.rating}}
                    </div>
                </div>

                <div class="create-komentar-button">
                    <button type="Submit" class="btn btn-success">Buat</button>
                    <a class="btn btn-primary" href="/feedback/list/" style="color: white">Back</a>
                </div>

            </form>
        </form>
    </div>
</div>


{% endblock content %}