{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css " %}">
    <link rel="stylesheet" href="{% static "css/index.css " %}">

</head>

<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
            <div class="card col-md-6 " style="margin-top: 20px;">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Sign in</strong>
                </h5>
                <div class="card-body">
                    <form action="{%url 'user:login'%}" method="post">
                        {%csrf_token%} {{ form.as_p }}
                        <input class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="login">
                        <p>Not a member?
                            <a href="/accounts/signup/">Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>