{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
            <div class="card col-md-6 " style="margin-top: 20px; margin-bottom: 50px;">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>
                <div class="card-body col-12">
                    <form method="POST">
                        {% csrf_token %} {% for field in form %}
                        <div>
                            <div>
                                {{field.label_tag}}
                            </div>
                            {{field}}
                        </div>

                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %} {% endfor %}
                        <button type="submit" style="margin-top: 20px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}