{% extends 'base.html' %}
{% load static %}
{% block judul %} {{ judul }} {% endblock judul %}
{% block content %}
    <div class="container" id="BMIKhusus">
        <h2 class="text-center mt-5 mb-4">Cek Kalori Asupanmu</h2>
        <form>
            <div class="form-group row">
                <label class="col-form-label col-md-4 text-center">Kalori Makanan (cal): </label>
                <div class="col-sm-6">
                    <input id="makanan_input" class="form-control" type="text">
                </div>
            </div>
        </form>
        <div class="no-padding">
            <button type="Submit" class="btn btn-success btn-block" id="calory_button">Cari!</button>
        </div>
        <table class="table table-info table-bordered" id="table2">
            <thead>
                <tr>
                <th scope="col">No</th>
                <th scope="col">Kategori</th>
                <th scope="col">Nama Makanan/Minuman</th>
                <th scope="col">Total Kalori (Kcal)</th>
                </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>
    <button id="myBtn" title="Go to top">Go Back</button> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'bmi.js' %}"></script>
{% endblock %}
