{% load static %}
<div id="contact" class="column footer-container">
    <h2 class="row justify-content-center">Social Media Kami</h2>

    <div class="row footer justify-content-center">
        <a href="linkedin.com/"><img src="{% static 'img/linkedin.png' %}" alt="" class="col-lg-1"></a>
        <a href=""><img src="{% static 'img/twitter.png' %}" alt="" class="col-lg-1"></a>
        <a href=""><img src="{% static 'img/facebook.png' %}" alt="" class="col-lg-1"></a>
        <a href=""><img src="{% static 'img/instagram.png' %}" alt="" class="col-lg-1"></a>
        <a href=""><img src="{% static 'img/youtube.png' %}" alt="" class="col-lg-1"></a>

    </div>
</div>