{% load static %}
<nav id="nav" class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="d-flex flex-grow-1">
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/" class="nav-link m-2 menu-item" style="color: #59485;"><strong
                            class="text-nav">Beranda</strong> </a>
            </li>
            <!-- <li class="nav-item">
                <a href="#about" class="nav-link m-2 menu-item" style="color: #59485;"><strong
                            class="text-nav">Tentang</strong> </a>
            </li> -->
            <li class="nav-item">
                <a href="/cariDok" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">Cari Dokter</strong></a>
            </li>
            <li class="nav-item">
                <a href="/tanyadok/list/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">Tanya Dokter</strong></a>
            </li>
            <li class="nav-item">
                <a href="/feedback/list/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">FeedBack</strong></a>
            </li>
            <li class="nav-item">
                <a href="/berita/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                    class="text-nav">Berita</strong></a>
            </li>
            <li class="nav-item">
                <a href="/bmi/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                        class="text-nav">Kalori</strong></a>
            </li>
            <li class="nav-item">
                <a href="/penyakit/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                        class="text-nav">Penyakit</strong></a>
            </li>
            {% if status == 0 %}
            <li class="nav-item">
                <a href="/accounts/login/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                                                            class="text-nav">Login</strong></a>
            </li>
            <li class="nav-item">
                <a href="/accounts/signup/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                                                            class="text-nav">Sign Up</strong></a>
            </li>

            {% else %}
            <li class="nav-item">
                <a href="/accounts/logout/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                                                            class="text-nav">Logout</strong></a>
            </li>
            {% endif %}


        </ul>
    </div>
</nav>