{% extends "base.html" %} {% block content %}

<div class="berita-container">
    <div class="berita-judul">
        <h1>Cari Berita <span style="color: #21D0C3 ;">Kesehatan</span> Disini</h1>
        {% if status == 1 %}
        <input id="search" class="form-control col-10 justify-content-center" type="text" placeholder="Search" aria-label="Search" style="margin-left: 10vw;">
        <button type="button" class="btn btn-primary" id="button" style="margin-top: 20px;">Search</button> {% else %}
        <p>Ingin mencari berita sesuai keinginan? <a href="/accounts/login/">Log in</a></p>

        {% endif %}
    </div>

    <div class="daftar-berita-container row justify-content-center" id="results">
        <!-- DAFTAR BERITA  -->
        <a href=""></a>
    </div>
</div>

{% endblock content %}