{% extends "base.html" %}
{%load static%}

{% block content %}

<div class="berita-container">
    <div class="berita-judul">
        <h1>Cari <span style="color: #21D0C3 ;">Penyakit</span> Disini</h1>
        <p>Ingin mengetahui penjelasan dari sebuah penyakit?</p>
    </div>

    <form class="row justify-content-center" id="form-inline">
        <input class="inputBook" id="input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info"  id="button" type="submit">Search</button>
    </form>
    <div class="row justify-content-center" id="results" style="margin-bottom: 40vh;">
        <!-- DAFTAR BERITA  -->
        <a href=""></a>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static "js/penyakit.js" %}"></script>

{% endblock content %}