{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <title>

        {% block judul %} {% endblock judul %}

    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/doctor.png' %}" /> {% include "snippets/styles.html" %}

</head>

<body>

    {% include "snippets/navbar.html" %} {% block content %} {% endblock content %} {% include "snippets/footer.html" %} {% include "snippets/scripts.html" %}



</body>

</html>