{% extends 'base.html' %} {% load static %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<div class="home">
    <div class="home-text">
        <h1>Halo, Kami Dokterin</h1>
        <h2>Selalu Peduli dengan Kesehatan Anda</h2>
    </div>
</div>

<div id="about" class="column about">
    <div class="column justify-content-center">
        <img src="{% static 'img/doctor.png' %}" alt="" class="logo-dokterin">
        <h3 class="text-about text-center">Dokterin hadir memberikan solusi kesehatan hanya dengan satu sentuhan.</h3>
    </div>

    <div class="column text-center fitur-container">
        <h1>Fitur Tersedia di dalam Dokterin</h1>

        <div class="row justify-content-center about-content">
            <div>
                <img src="{% static 'img/doctor.png' %}" alt="" class="fitur-logo">

                <p>Cari Dokter</p>
            </div>

            <div>
                <img src="{% static 'img/user.png' %}" alt="" class="fitur-logo">
                <p class="tanya-dokter-text">Tanya Dokter</p>
            </div>
        </div>
    </div>
</div>

<div class="cari-dokter container">
    <div class="container-cari row justify-content-center">
        <img src="{% static 'img/doctor.png' %}" alt="">
        <div class="cari-dokter-text">
            <h1>Cari Dokter</h1>
            <p>Permudah cara untuk menemukan dan membuat janji dengan dokter yang tepat.</p>

        </div>
        <a href="/cariDok/"><button type="button" class="btn btn-info button-cari">Cari Dokterku</button></a>
    </div>
</div>

<div class="tanya-dokter">
    <div class="container-tanya row justify-content-center">
        <div class="tanya-dokter-text justify-content-end">
            <div>
                <h1>Tanya Dokter</h1>
                <p>Bingung dengan penyakit yang sedang dialami?</p>
                <p>Yuk! langsung tanyakan saja pada ahlinya.</p>
            </div>
            <a href="/tanyadok/list/"><button type="button" class="btn btn-info" class="align-items-end" class="button-tanya">Ayo Bertanya</button></a>
        </div>
        <img src="{% static 'img/user.png' %}" alt="">
    </div>
</div>

<div>
    <div class="row awal-container justify-content-center">
        <div class="row col-lg-5">
            <h4>Awal dari segalanya</h4>
            <p>Berdiri sejak 2019, Dokterin adalah startup yang bergerak di bidang kesehatan. Mulanya dirancang untuk menyelesaikan tugas kuliah, kami(Ari, Ilham, Fathur, dan Fadhlan) memutuskan untuk merealisasikan ide ini.</p>
        </div>

        <img src="{% static 'img/doctor.png' %}" alt="" class="col-lg-2">
    </div>

    <div class="row awal-container justify-content-center">
        <div class="row col-lg-5">
            <h4>Visi Kami</h4>
            <p>Sebagaimana Startup yang bergerak di bidang kesehatan lainnya, Dokterin mempunyai visi untuk memperluas Health Inclusion di Indonesia melalui dunia digital dan Industri 4.0 </p>
        </div>

        <img src="{% static 'img/focus.png' %}" alt="" class="col-lg-2">
    </div>

    <div class="row awal-container justify-content-center">
        <div class="row col-lg-5">
            <h4>Budaya</h4>
            <p>Dokterin percaya bahwa seluruh ide mempunyai tujuan yang baik dan amat menghargai ide baru sesama rekan kerja. Selain itu, kami meyakini bahwa kami hadir untuk masyarakat, dan menjadikannya prioritas utama.</p>
        </div>

        <img src="{% static 'img/teamwork.png' %}" alt="" class="col-lg-2">
    </div>
</div>
{% endblock content %}