{% extends 'base.html' %}
{% load static %} 
{% block judul %} Cari Dokter Yang Tepat {% endblock judul%}
{% block content %}
<div class="col-12" id="listDok">
<div class="container">
    <div class="row" id="row1">
        <div class="col col-md-4 square-left">
            <h2 class="mini-title">Pertanyaan Mengenai Kesehatan</h2>
            {% for objects2 in object_list2 %}
            <div class="square2">
                <h3 class="info no-weight">{{ objects2.nama_penanya }}</h3>
                <p class="info no-weight">{{ objects2.jenis_penyakit }}</p>
                <p class="info no-weight">{{ objects2.pertanyaan|linebreaks|truncatewords:30 }}</p>
            </div>
            {% endfor %}
            <a href="{% url 'list-pertanyaan' %}"> >>Lihat Lebih Lengkap </a>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="square3">
                <div class="row">
                    <div class="col-md-4 square6">
                        <h1 id="big-title">{{  spesialis }}</h1>
                    </div>
                    <div class="explain col-md-8">
                        <p class="mini-title blueg-color">adalah</p>
                        <p class="super-mini-title">
                            Spesialis yang menghandle segala hal yang berhubungan dengan hal {{ spesialis}}. 
                            Dilatih untuk memahami penyakit yang sering menghampiri, diagnosa mereka tidak perlu diragukan lagi.
                        </p>
                    </div>        
                </div>
            </div>
            <div class="square4">
                {% for objects in object_list %}
                    <div class="square5">
                        <div class="row">
                            <div class="col-md-4 text-align-center">
                                {% if objects.jenis_kelamin == "Peremmpuan" %}
                                    <img src="{% static 'img/girl.png' %}" class="img">
                                {% else %}
                                    <img src="{% static 'img/man.png' %}" class="img">
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <h2 class="blueg-color" id="nama_edit">{{ objects.nama }}</h2>
                                <p class="info">{{ objects.spesialis }}</p>
                                <p class="info">{{ objects.pengalaman }} years Experience</p>
                                <p class="info no-weight">{{ objects.tempatPraktek }}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="info">Start From IDR 10</p> 
                                <p class="info no-weight">Available at</p>
                                <p class="info no-weight">{{ objects.day }}</p>
                                <p class="info no-weight">{{ objects.waktuAwal }} - {{ objects.waktuAkhir }}</p>
                                <a class="btn btn-primary blackG-color" href = "{% url 'pesenDokter' %}">Contact Now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-align-right">
                <a href="{% url 'create-Dok' %}">Anda Seorang Dokter?</a>
                <a href="{% url 'create-Dok' %}" class="btn btn-primary blackG-color"><img src="{% static 'img/dokterfind.svg' %}"> Daftar Dokter</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}