body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 0;
    margin-right: 0;
    width: 100%;
}

.nav-item {
    margin-right: 0;
    margin-left: 50px;
    padding-right: 0;
}

.home-text h1 {
    color: #48DBFB;
    text-align: center;
    font-size: 33px;
    padding-top: 320px;
}

.home-text h2 {
    color: #8395A7;
    text-align: center;
    padding-bottom: 320px;
}

@media only screen and (max-width: 1000px) {
    .home-text h1 {
        font-size: 25px;
    }
    .home-text h2 {
        font-size: 20px;
    }
}


/* - - -- - - - -- - - - -- - - - ABOUT - - - -- - - -- - - -  - */

.text-about {
    color: #8395A7;
    margin: 50px;
}

.about {
    background-color: #C7ECEE;
}

.fitur-logo {
    width: 200px;
    margin: 50px;
    margin-bottom: 10px;
}

.logo-dokterin {
    display: block;
    width: 200px;
    margin: 50px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.tanya-dokter-text {
    color: #8395A7;
    text-align: center;
    margin-right: 50px;
}

.about-content p {
    color: #8395A7;
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 20px;
}

.about h1 {
    color: #8395A7;
}

.fitur-container h1 {
    color: #000000;
}

@media only screen and (max-width: 1000px) {
    .text-about {
        font-size: 20px;
    }
    .about-container h1 {
        font-size: 20px;
    }
    .fitur-container h1 {
        font-size: 30px;
    }
}


/* - - - -- - - - - -- - - CARI DOKTER - -- - - - - -- - -  */

.cari-dokter {
    padding: 200px 0;
}

.container-cari img {
    width: 300px;
    margin-right: 100px;
}

.cari-dokter-text h1 {
    margin-top: 50px;
    color: #576574;
    margin-bottom: 20px;
}

.cari-dokter-text p {
    color: #000000;
    font-weight: 100;
    font-size: 20px;
    max-lines: 2;
}

.cari-dokter-text {
    padding-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .container-cari img {
        width: 200px;
        margin: 0;
        padding: 0;
    }
    .cari-dokter {
        padding-top: 50px;
    }
    .cari-dokter-text h1 {
        color: #576574;
        text-align: center;
    }
    .cari-dokter-text p {
        color: #000000;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {
    .button-cari {
        margin-left: 0;
        margin-right: 150px;
    }
}


/* - - -- - - - - -- - - - TANYA DOKTER - - -- - - - - - - */

.tanya-dokter {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C7ECEE;
}

.container-tanya img {
    width: 300px;
    margin-right: 100px;
}

.tanya-dokter-text h1 {
    text-align: right;
    padding-top: 80px;
    /* margin-bottom: 50px; */
}

.tanya-dokter-text p {
    color: #000000;
    font-weight: 100;
    text-align: right;
    margin-right: 0;
    font-size: 25px;
    /* margin-bottom: 50px; */
}

.button-tanya {
    padding-left: 100px;
}

@media only screen and (max-width: 1000px) {
    .tanya-dokter {
        padding-top: 0px;
        padding-bottom: 50px;
        background-color: #C7ECEE;
    }
    .tanya-dokter-text h1 {
        padding: 0;
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .tanya-dokter-text p {
        color: #000000;
        font-weight: 100;
        text-align: left;
        margin-right: 0;
        padding: 0;
        font-size: 15px;
        /* margin-bottom: 50px; */
    }
    .container-tanya img {
        width: 200px;
        margin: 20px;
    }
    .tanya-dokter-text {
        margin: 0;
    }
}


/* - - - -- - - - -- - - ABOUT - - - - -- - - - - - --  */

.awal-container img {
    width: 200px;
    margin: 30px;
}

.visi-container img {
    width: 200px;
    margin: 0;
}

.budaya-container img {
    width: 200px;
}

.awal-container,
.visi-container,
.budaya-container {
    padding: 60px;
}


/* - -- - - - - -- - - FOOTER ------- - - - - - -  */

.footer-container {
    background-color: #C7ECEE;
    padding: 40px;
}

.footer img {
    margin: 10px;
    margin-top: 20px;
    max-width: 95px;
}

@media only screen and (max-width: 1000px) {
    .footer img {
        margin-top: 30px;
        width: 80px;
        margin: 0;
    }
}


/* - - - - - - - - COMMENT SECTION - - - - - - - - */

.komentar-container {
    margin-top: 100px;
}

.komentar-card {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #C7ECEE;
    margin-top: 20px;
}

.komentar-text {
    color: #576574;
    margin-bottom: 50px;
}

.komentar-card img {
    width: 130px;
    margin: 30px;
}

.nama-komentar {
    margin-top: 30px;
}

.tanggal-komentar {
    font-style: italic;
}

.btn-create-komentar {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .komentar-text {
        font-size: 30px;
    }
    .komentar-card {
        margin: 10px;
        display: grid;
    }
    .komentar-card img {
        margin-bottom: 0;
        padding: 0;
    }
    .nama-komentar,
    .tanggal-komentar,
    .komentar,
    .rating-komentar {
        text-align: center;
    }
    .rating-komentar {
        margin-bottom: 30px;
    }
    .btn-create-komentar {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 110px;
    }
    .komentar-text {
        margin-left: 10px;
    }
}


/* - - - - - - - - PAGE CREATE COMMENT - - - - - -  */

.kami-senang {
    margin-top: 100px;
    color: #576574;
}

.beri-kami-saran {
    margin-top: 20px;
    font-size: 40px;
    color: #0AB3E4;
    margin-bottom: 30px;
}

.create-komentar-button {
    margin-left: 30px;
    margin-top: 50px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 1000px) {
    .kami-senang {
        margin-top: 0;
        margin-top: 40px;
        font-size: 20px;
        padding: 20px;
        padding-bottom: 0;
    }
    .beri-kami-saran {
        font-size: 20px;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
}


/*--------List Dokter-------*/

#listDok {
    background-color: #C7ECEE;
}

.img {
    max-width: 150px;
    padding-top: 20px;
}

#row1 {
    padding-top: 100px;
}

.padding-top {
    padding-top: 1%;
}

.black-font {
    color: #212121;
    padding-top: 3%;
}

.square-left {
    background-color: #ECF0F1;
    padding: 12px;
}

.mini-title {
    font-size: 20px;
    font-weight: 500;
}

.small-font {
    font-weight: 300;
    font-size: 10px;
}

.super-mini-title {
    font-size: 16px;
}

#link1 {
    color: #0AB3E4;
    font-weight: 300;
    font-size: 16px;
}

#big-title {
    font-size: 40px;
    font-weight: 700;
    padding-top: 18%;
}

.blueg-color {
    color: #21D0C3;
}

.square2 {
    background-color: #D6BBBB;
    border: 0.5px solid #AAAAAA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 15px;
}

.square3 {
    background: #FFFFFF;
    border-radius: 22px;
    border: 1px solid #ffffff;
    margin-bottom: 3%;
}

.square3 h1 {
    color: #21D0C3;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    padding: 15px;
}

.explain p:first {
    color: #21D0C3;
}

.square6 {
    text-align: center;
    border-right: 1px solid #C7ECEE;
}

.explain {
    border-left: 1px solid #C7ECEE;
}

.square4 {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #21D0C3;
    max-height: 400px;
    margin-bottom: 4%;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.square5 {
    background: #FFFFFF;
    border: 1px solid #21D0C3;
    box-sizing: border-box;
    padding: 30px;
}

.standard-font {
    font-size: 20px;
}

.standard-small-font {
    font-size: 15px;
}

.info {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 1%;
}

.no-weight {
    font-weight: normal;
}

.unique-color {
    background-color: #ECF0F1;
}

@media only screen and (max-width: 500px) {
    .square-left {
        display: none;
    }
    .mini-title {
        text-align: center;
    }
    #nama_edit {
        text-align: center;
        font-size: 30px;
    }
}


/*------Buat Dokter------*/

.large-font {
    font-size: 30px;
    line-height: 35px;
}

.blackG-color {
    color: #576574;
}

.blackB-color {
    color: #576574;
    font-size: 20px;
    font-weight: 700;
}

.blue-color {
    color: #0AB3E4;
}

.btn-primary {
    background-color: #21D0C3;
    padding: 10px 20px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.form-control {
    background-color: #C7ECEE;
    color: #909DAA;
    font-weight: 500;
}

.form-control:focus {
    color: #909DAA;
    background-color: #C7ECEE;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .padding-bottom {
        padding-bottom: 40px;
    }
    .large-font {
        font-size: 20px;
        line-height: 25px;
    }
    .btn-primary {
        padding: 6px 12px;
    }
    .padding-bottom {
        padding-bottom: 50px;
    }
    .blackB-color {
        color: #576574;
        font-size: 14px;
    }
}


/* - - - - - - - - CARIDOKTER PAGE - - - - - -  */

.pencarian {
    margin: 240px 0px;
}

.mag {
    width: 200px;
    margin-bottom: 30px;
}

.mag img {
    width: 100%;
    height: auto;
}

.text-dropdown {
    background-color: #C7ECEE;
    color: #909DAA;
    text-align: center;
    font-size: 25px;
    padding: 0px 30px;
}

.text-dropdown .dropdown-menu {
    background-color: #C7ECEE;
    color: #909DAA;
}


/* - - - - - - - - CARIDOKTER PAKE GAMBAR PAGE - - - - - -  */

.cari-gambar {
    margin: 200px 0px;
    padding-top: 200px;
    padding-bottom: 250px;
}

.penyakit-img {
    width: 150px;
    margin: 30px 30px;
}

.penyakit-img img {
    width: 100%;
    height: auto;
}


/*--------List Dokter-------*/

#listDok {
    background-color: #C7ECEE;
}

.img {
    max-width: 150px;
    padding-top: 20px;
}


/* CSS FOR BERITA PAGE  */

.berita-container {
    margin-top: 500px;
}